header, main {
    max-width: 700px;
    padding: 10px;
    margin: auto;
    
    font-family: 'Helvetica Neue';
}

h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
    color: #b82da2;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}


.my-girls {
    list-style-type: decimal;
    max-width: 500px;
    margin: auto;
}

.my-girls li, .gu-mirror {
    display: block;
    padding: 5px;
    margin-bottom: 2px;
    background: #b82da2;
    cursor: -webkit-grab;
    cursor: grab;
    
    border-radius: 100px;
    color: white;
    font-family: 'Helvetica Neue';
}

.girl {
    position: relative;
}

.girl .info-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "Times New Roman";
    font-style: italic;
    font-size: 18px;
    border: 1px solid white;
    width: 1em;
    text-align: center;
    border-radius: 100px;
}
.girl .info-button:hover {
    color: #b82da2;
    background: white;
    cursor: pointer;
}

.my-girls {
	counter-reset: girls-count;
}
.my-girls li:before {
	content: counter(girls-count);
	counter-increment: girls-count;
    display: inline-block;
    width: 2em;
    background: white;
    color: black;
    border-radius: 100px;
    text-align: center;
    padding: 8px 0;
    margin-right: 10px;
}

.permalink-holder {
    margin-top: 20px;
    font-size: 12px;
}

.permalink {
    width: 50%;
    margin: 5px 0;
}

.rules {
    margin: 20px 0;
    line-height: 1.3em;
}

footer {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 40px;
}