.my-girls {
    list-style-type: decimal;
}

.my-girls li, .gu-mirror {
    display: block;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    background: white;
    cursor: -webkit-grab;
    cursor: grab;
}

.my-girls {
	counter-reset: girls-count;
}
.my-girls li:before {
	content: counter(girls-count);
	counter-increment: girls-count;
    display: inline-block;
    width: 2em;
}
